<form class="expense-form">
  <select name="expenseName" id="" [(ngModel)]="selectedCategory">
    @for (item of expenseService.expenseCategory; track item.value) {
    <option [value]="item.value">{{ item.text }}</option>
    }
  </select>

  <input
    type="number"
    placeholder="Amount"
    name="amount"
    [(ngModel)]="expenseAmount"
  />
  <select name="type" [(ngModel)]="selectedValue">
    <option value="expense">Expense</option>
    <option value="income">Income</option>
  </select>
  <button type="submit" (click)="handleAdd()">Add</button>
</form>
